@use "./base.scss";



.page-header{
	padding: 1rem !important;
	border-radius: 5px !important;
}


.homepage a{
	text-decoration:none;
}



// ---
// MERMAID STYLES
// ---

.mStart > rect {
    fill: var(--gray) !important;
    //stroke-width: 0px !important;
}
.mCritical > rect, .mCritical > polygon{
	fill: lightcoral !important;
}

.mImportant > polygon, .mImportant > rect {
    fill: var(--textHighlight) !important;
    //stroke-width: 3px !important;
}










// ---
// MEDIKAMENTE
// ---


// Anästhesiologie
[data-slug="esKETAmin"] .page-header,
[data-slug="Propofol"] .page-header,
[data-slug="Etomidat"] .page-header{
	background-color: #ffff00;
}
[data-slug="Benzos"] .page-header{
	background-color: #ff6600;
}
[data-slug="Lokalanästhetika"] .page-header{
	background-color: #C2B8AB;
	color: black !important;
}
[data-slug="Opioide"] .page-header{
	background-color: #85c7e3;
	color: black !important;
}
[data-slug="Relaxans"] .page-header{
	background: linear-gradient(to bottom, #fff 49%, #F54029 51%);
}

// Make Text Black
[data-slug="Relaxans"] .page-header *,
[data-slug="Lokalanästhetika"] .page-header *,
[data-slug="esKETAmin"] .page-header *,
[data-slug="Propofol"] .page-header *,
[data-slug="Etomidat"] .page-header *,
[data-slug="Opioide"] .page-header *,
[data-slug="Benzos"] .page-header *,
[data-slug="AK"] .page-header *,
[data-slug="Lyse"] .page-header *,
[data-slug="DAPT"] .page-header *,
[data-slug="TXA"] .page-header *,
[data-slug="Katecholamine"] .page-header *,
[data-slug="NA"] .page-header *,
[data-slug="Push-Dose"] .page-header *{
	color: black !important;
}


// Katecholamine
[data-slug="Katecholamine"] .page-header,
[data-slug="NA"] .page-header,
[data-slug="Push-Dose"] .page-header{
	background-color: #debfd9;
}
[data-slug="Adrenalin"] .page-header{
	background: linear-gradient(to bottom, #000 49%, #debfd9 51%);
}
[data-slug="Adrenalin"] .breadcrumb-element *, [data-slug="Adrenalin"] .article-title{
		color: white !important;
}
[data-slug="Adrenalin"] .content-meta, [data-slug="Adrenalin"] .tags *{
		color: black !important;
}


// Vasoaktiva
[data-slug="Betablocker"] .page-header,
[data-slug="Amiodaron"] .page-header,
[data-slug="Calciumantagonisten"] .page-header,
[data-slug="Digitalis"] .page-header,
[data-slug="MgSO4"] .page-header{
	background: linear-gradient(10deg, #bf1237 50%, #008bcc 50%);
}
[data-slug="Inhalaltive-Pulmodilatatoren"] .page-header,
[data-slug="DOBUTamin"] .page-header{
	background: linear-gradient(10deg, #bf1237 50%, #63cc96 50%); 
}
[data-slug="Nitrate"] .page-header{
	border: 10px dashed #debfd9;
}

// Antikonvulsiva
[data-slug="MgSO4"] .page-header{
	background: linear-gradient(10deg, #bf1237 50%, #008bcc 50%);
}

// Text Color White
[data-slug="Betablocker"] .page-header *,
[data-slug="Amiodaron"] .page-header *,
[data-slug="Calciumantagonisten"] .page-header *,
[data-slug="Digitalis"] .page-header *,
[data-slug="MgSO4"] .page-header *,
[data-slug="Inhalaltive-Pulmodilatatoren"] .page-header *,
[data-slug="DOBUTamin"] .page-header *{
	color: white !important;
}

// Gerinnung
[data-slug="AK"] .page-header,
[data-slug="Lyse"] .page-header,
[data-slug="DAPT"] .page-header{
	border: 10px solid #000;
	background-color: #CFC9C4;
}
[data-slug="TXA"] .page-header{
	border: 10px dashed #000;
	background-color: #CFC9C4;
}